---
import '../styles/tailwind.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>astro-aw-autoreference test</title>
</head>
<body>
    <h1>This is only a test</h1>
</body>
</html>

<style>
  h1 {
    @apply bg-green-500;
  }
</style>